@model DetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<p><img src="~/img/parks/@(Model.Park.ParkCode).jpg" /></p>
<p>@Model.Park.ParkName</p>
<p>@Model.Park.State</p>
<p>@Model.Park.Acreage</p>
<p>@Model.Park.ElevationInFt</p>
<p>@Model.Park.MilesOfTrail</p>
<p>@Model.Park.NumberOfCampsites</p>
<p>@Model.Park.Climate</p>
<p>@Model.Park.YearFounded</p>
<p>@Model.Park.AnnualVisitors</p>
<p>@Model.Park.InspirationalQuote</p>
<p>@Model.Park.QuoteSource</p>
<p>@Model.Park.Description</p>
<p>@Model.Park.EntryFee</p>
<p>@Model.Park.NumberOfSpecies</p>
