@model DetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<p><img src="~/img/parks/@(Model.Park.ParkCode).jpg" /></p>
<p>@Model.Park.ParkName</p>
<p>@Model.Park.State</p>
<p>@Model.Park.Acreage</p>
<p>@Model.Park.ElevationInFt</p>
<p>@Model.Park.MilesOfTrail</p>
<p>@Model.Park.NumberOfCampsites</p>
<p>@Model.Park.Climate</p>
<p>@Model.Park.YearFounded</p>
<p>@Model.Park.AnnualVisitors</p>
<p>@Model.Park.InspirationalQuote</p>
<p>@Model.Park.QuoteSource</p>
<p>@Model.Park.Description</p>
<p>@Model.Park.EntryFee</p>
<p>@Model.Park.NumberOfSpecies</p>

@foreach (var day in Model.Weather)
{
    <p><img src="~/img/weather/@(day.Forecast).png" /></p>
    <p>@day.FiveDayForecastValue</p>
    <p>@day.High</p>
    <p>@day.Low</p>
    <p>@day.Forecast</p>
}