@model DetailViewModel
@{
    ViewData["Title"] = "Detail";
}
<link href="~/css/detail.css" rel="stylesheet" />

<style>
    form{
        display: inline-block;
    }
    .quoteroni {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
</style>

<div>
    <div class="detail-header-container">
        <img id="detail-header-image" src="~/img/parks/@(Model.Park.ParkCode).jpg" />
        <div>
            <h2 id="detail-header-park-name">@Model.Park.ParkName</h2>
        </div>
    </div>

    <div class="detail-body">
        <p class="badge">
            <strong>State: </strong>@Model.Park.State
        </p>
        <p class="badge">
            <strong>Acreage: </strong>@Model.Park.Acreage
        </p>
        <p class="badge">
            <strong>Elevation: </strong>@Model.Park.ElevationInFt
        </p>
        <p class="badge">
            <strong>Miles of Trail: </strong>@Model.Park.MilesOfTrail
        </p>
        <p class="badge">
            <strong>Number of Campsites: </strong>@Model.Park.NumberOfCampsites
        </p>
        <p class="badge">
            <strong>Climate: </strong>@Model.Park.Climate
        </p>
        <p class="badge">
            <strong>Founding Year: </strong>@Model.Park.YearFounded
        </p>
        <p class="badge">
            <strong>Annual Visitors: </strong>@Model.Park.AnnualVisitors
        </p>
        <p class="badge">
            <strong>Number of Species: </strong>@Model.Park.NumberOfSpecies
        </p>
        <p class="entry-fee">
            <strong>Entry Fee: </strong>@Model.Park.EntryFee.ToString("C")
        </p>
        <p class="detail-description">
            @Model.Park.Description
        </p>
    </div>

    <p class="blockquote-reverse quoteroni">"@Model.Park.InspirationalQuote"</p>
    <p class="blockquote-reverse quoteroni">-@Model.Park.QuoteSource</p>

    <br />
    <br />

    @*TACKLE THE WEATHA CHANGE!!!*@
    
    <form asp-action="SetTempScale" method="post" asp-route-parkCode="@Model.Park.ParkCode">
        <button style="display: inline-block" class="btn btn-primary">°F</button>
        <input type="hidden" value="tempF" name="temperatureScale" />
    </form>
    <form asp-action="SetTempScale" method="post" asp-route-parkCode="@Model.Park.ParkCode">
        <button class="btn btn-primary">°C</button>
        <input type="hidden" value="tempC" name="temperatureScale" />
    </form>

    @*TACKLE THE WEATHAAAAAAAAA*@
    <div id="weather-table">
        @foreach (var day in Model.Weather)
        {
        <div class="weather-info">
            <img class="weather-image" src="~/img/weather/@(day.Forecast).png" />
            @*@if (HttpContext.Session.GetString("tempScale") == "F")*@
            @if (Model.TempScale == "F")
            {
            <p><strong>High: </strong>@day.High  <strong>Low: </strong>@day.Low</p>
            }
            else
            {
            <p><strong>High: </strong>@day.HighCelcius @*Do math or make property?*@  <strong>Low: </strong>@day.LowCelcius</p>
            }
            <p class="recommendations">@Model.TempRecommendations(day)</p>
        </div>
        }
    </div>
</div>
